.el-date-editor--daterange.el-input, 
.el-date-editor--daterange.el-input__inner{
    width:250px;
}

.el-date-editor--datetimerange.el-input, 
.el-date-editor--datetimerange.el-input__inner{
    width:330px;
}

.el-date-editor .el-range-separator {
  padding: 0;
}