.el-message-box__status.el-icon-warning {
  color: #fa9831;
}

.el-card {
  border-radius: 3px;
  border: 1px solid #eff1f4 !important;
}

h3 {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.el-table--small th,
.el-table th {
  font-weight: 600;
}

.el-tabs__item.is-top {
  &::before {
    content: '\00A0\00A0';
  }
  &::after {
    content: '\00A0\00A0';
  }
}

.new-ef-head--info-title {
  font-size: 14px !important;
}

.el-collapse-item__header {
  font-weight: 600;
}

.el-radio-group {
  border-radius: 3px;
}

.el-form-item {
  &__label {
    font-size: 12px;
    color: #333;
  }
  &__content {
    font-size: 12px;
  }
}

.el-input--small {
  font-size: 12px;
}

.el-button--small {
  font-size: 12px;
}